BEGIN TRANSACTION;
CREATE TABLE correct_answers (
            id             INTEGER PRIMARY KEY AUTOINCREMENT,
            player_name    TEXT NOT NULL,
            correct_answer INTEGER NOT NULL,
            round_number   INTEGER NOT NULL,
            recorded_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
CREATE TABLE game_rounds (
            id                INTEGER PRIMARY KEY AUTOINCREMENT,
            player_id         INTEGER NOT NULL REFERENCES players(id),
            round_number      INTEGER NOT NULL,
            correct_answer    INTEGER NOT NULL,
            player_answer     INTEGER NOT NULL,
            result            TEXT    NOT NULL,
            ford_fulkerson_ms REAL    NOT NULL,
            edmonds_karp_ms   REAL    NOT NULL,
            created_at        TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO "game_rounds" VALUES(1,1,1,16,18,'lose',0.0932000002649147,8.460000026389025151e-02,'2026-04-16 16:42:49');
INSERT INTO "game_rounds" VALUES(2,1,1,16,16,'win',0.0932000002649147,8.460000026389025151e-02,'2026-04-16 16:42:56');
INSERT INTO "game_rounds" VALUES(3,1,2,15,18,'lose',7.129999994504032656e-02,7.189999996626283973e-02,'2026-04-16 16:42:59');
CREATE TABLE players (
            id         INTEGER PRIMARY KEY AUTOINCREMENT,
            name       TEXT    NOT NULL UNIQUE,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO "players" VALUES(1,'Charles','2026-04-16 16:42:49');
INSERT INTO "players" VALUES(5,'damian','2026-04-20 07:27:05');
DELETE FROM "sqlite_sequence";
INSERT INTO "sqlite_sequence" VALUES('players',27);
INSERT INTO "sqlite_sequence" VALUES('game_rounds',27);
COMMIT;
